<div class='post'>
  <div class='post-title'>
    <h3>{{title}}</h3>
  </div>
  <div>
    <p>{{content}}</p>
    <p>{{date_posted}}</p>
  </div>
  {{! <section>
    <button>like</button>
    <button id='new-comment-btn'>comment</button>
    <form class='row g-3' id='new-comment' hidden>
      <div>
        <label for='comment' class='form-label'>Example comment</label>
        <textarea
          class='form-control'
          id='new-comment-content'
          rows='3'
        ></textarea>
      </div>
      <div>
        <button type='submit' class='btn btn-primary'>Submit</button>
      </div>
    </form>
  </section> }}
</div>
{{! <script src='post-details.js'></script> }}