<div id={{id}} class='post'>
  <div class='post-title'>
    <h3>{{title}}</h3>
  </div>
  <div>
    <p>{{content}}</p>
    <p>{{date_posted}}</p>
  </div>
</div>

{{!--
<script src='/js/post-details.js'></script> --}}