<section>
    <button class="mb-3" id="new-post-btn">Create a new post</button>
    <form class="row g-3" id="new-post" hidden>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input class="form-control" id="new-post-title" placeholder="title">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Example textarea</label>
            <textarea class="form-control" id="new-post-content" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </form>
    <div class="posts-container">
        {{#each posts as |post|}}
        {{>post-details}}
        <button>like</button>
        <section class="comment-section">
            <button class="new-comment-btn">comment</button>
            <form class="row g-3 new-comment-form" hidden>
                <div>
                    <label for="comment" class="form-label">Example comment</label>
                    <textarea class="form-control new-comment-content" rows="3"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </section>
        {{/each}}
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/posts.js"></script>