<section>
    <button class="mb-3" id="new-post-btn">Create a new post</button>
    <form class="row g-3" id="new-post" hidden>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </form>
    {{#each posts as |post|}}
    {{>post-details}}
    <button>like</button>
    <button>comment</buttoN>
    {{/each}}
</section>
<script src="/js/posts.js"></script>